/*  Webpage Elements  */

body{
  margin-left: 0;
  margin-right:0;
  padding:0;
}

#pageHeading{
  margin-top: 20px;
  color: black;
  text-align: center;

}


/*  Webpage Classes   */


.curly{
  color: goldenrod;
}





.smallImage{
  /*max-width: 100px;*/
}






/*  Webpage IDs   */


